* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #fff;
}
body {
  background-color: #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff;
  padding: 10px;
  background-color: #000000;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.banner {
  background-color: #000000;
  color: #fff;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerinfo {
  text-align: center;
}

.bannerinfo img {
  padding: 5%;
  width: 1000px;
  /* border-radius: 100%; */
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
}

main div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5%;
  height: 400px;
}
.notebook {
  width: 100px;
  z-index: 1;
}
footer {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 20px;
  text-align: left;
}
About {
  margin-top: 200px;
}
