* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #000000;
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  position: absolute;
  left: 10px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.banner {
  background-image: url("https://dlcdnwebimgs.asus.com/files/media/8CF497C8-1A77-404F-ABF1-85822D3BE077/v1/img-webp/kv/bg-kv.webp");
  color: #fff;
  margin-top: 5%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerinfo {
  text-align: center;
  font-weight: bold;
}

.bannerinfo h1 {
  font-size: 60px;
}

.bannerinfo p {
  font-size: 30px;
}

.bannerinfo img {
  align-self: center;
  width: 1500px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
}

main div {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 30px;
  width: max-content;
  height: 200px;
}

footer {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 20px;
  text-align: left;
  margin-top: 400px;
}

.about {
  margin-top: 200px;
}

.iminnav {
  color: #fff;
}

.seconnav {
  width: 100%;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 60px; /* Adjust as needed */
  left: 0;
  z-index: 1000;
  transition: top 0.1s ease;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seconnav .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.seconnav .container div {
  position: relative;
}
.seconnav .container p {
  padding-right: 100px;
}

button {
  position: absolute;
  padding: 10px;
  color: #fff;
  background-color: red;
  border: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sticky {
  top: 0; /* Stick to the top */
}
